:root{
    --main-color: white;
    --blue-color: #2d2a54;
    --blue2-color: #d7d4ff;
    --blue3-color: #4de9fd80;
    --container-color: #3456ffb7;
}

.contamination-container-title{
    width: 100%;
    height: 17vh;
    background-color: var(--main-color);
    display: flex;
}

.container-title{
    width: 60%;
    left: 400px;
    height: 7vh;
    margin-top: 20px;
    position: absolute;
}

.contamination-title{
    color: var(--blue-color);
}

.header-contamination{
    display: flex;
    margin: 0 auto;
    width: 80%;
    height: 55vh;
    border-radius: 50px;
    background-color: var(--blue3-color);
}

.left-part-contamination{
    margin-left: 100px;
    width: 40%;
}

.left-txt-contamination{
    margin-top: 30px;
}

.left-txt-contamination2{
    color: #37B541;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 60px;
}

.right-part-contamination{
    width: 40%;
    margin-top: 15px;
}

.contamination-header-img{
    height: 50vh;
}

.graficas{
    margin: 20px auto;
    width: 80%;
    height: 60vh;
    border-radius: 40px;
    background-color: var(--blue2-color);
    overflow: hidden;
}

.grafica-1{
    margin: 30px auto;
    width: 550px;
    height: 430px;
}

.grafica1-txt{
    text-align: center;
    margin-top: 20px;
}


.footer-contamination{
    width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.txt-footer-contamination{
    color: red;
    text-align: center;
}