.hamburger-menu3{
    width: 100px;
}

.container-hamburger3{
    width: 100px;
}

.menu-container3{
    display: flex;
    z-index: 1;
    margin: 0px;
}

.menu-toggle3{
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 45px;
}

.menu-toggle3.open{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 10vh;
    width: 270px;
    background-color: #2d2a54;
}

.mac-icon-home3{
    height: 100px;
    width: 200px;
    margin-top: 20px;
}

.bar3{
    background-color: #2d2a54;
    height: 3px;
    width: 100%;
}

.bar3.open {
    background-color: transparent;
}

.menu3 {
    background-color: #2d2a54;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 580px;
    position: absolute;
}

.hover-hamburger3{
    display: flex;
    flex-direction: row;
}

.menu3 a {
    color: #fff;
    overflow: hidden;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
}

.contamination-image3{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.contamination-hamburger3{
    margin-top: 70px;
    width: 100%;
}

.history-hamburger3{
    margin-top: 50px;
}

.history-image3{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.pronostico-image3{
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

.pronostico-hamburger3{
    margin-top: 50px;
}

.txt-hamburger-icon3{
    font-size: 1em;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 10px;
}

.hover-hamburger3:hover{
    transition: .3s;
    background-color: #6761c2af;
    /* padding: 15px 0px; */
}

.logout3{
    background-image: url(../assets/exit.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-top: 180px;
    margin-left: 220px;
}