.container-hamburger2{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-container2 {
    display: flex;
    z-index: 1;
    margin: 0px;
}

.menu-container2.open {
    background-color: #2d2a54af;
}

.menu-toggle2 {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 45px;
    /* transition: 1s; todavia no definido */
    
}

.menu-toggle2.open{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 270px;
    background-color: #2d2a54;
    height: 10vh;
}

.mac-icon-home2{
    height: 50px;
    width: 200px;
    /* background-color: #2d2a54af; */
    margin-top: 20px;
}

.bar2 {
    background-color: white;
    height: 3px;
    width: 100%;
}

.bar2.open {
    background-color: transparent;
}

.menu2 {
    background-color: #2d2a54;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 100vh;
    position: absolute;
}

.menu2 a {
    color: #fff;
    overflow: hidden;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;   
}
