/* 
.container-hamburger{
    width: 100px;
} */

.menu-container2 {
    display: flex;
    z-index: 1;
    margin: 0px;
}

.menu-container2.open {
    background-color: #2d2a54af;
}

.menu-toggle2 {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 45px;
    /* transition: 1s; todavia no definido */
    
}

.menu-toggle2.open{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 270px;
    background-color: #2d2a54;
    height: 10vh;
    
}

.mac-icon-home2{
    height: 50px;
    width: 200px;
    /* background-color: #2d2a54af; */
    margin-top: 20px;
}

/* .menu-toggle.open .bar {
    background-color: transparent;
} */

.bar2 {
    background-color: #2d2a54;
    height: 3px;
    width: 100%;
}

.bar2.open {
    background-color: transparent;
}

.menu2 {
    background-color: #2d2a54;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 190vh;
    position: absolute;
}

.menu2 a {
    color: #fff;
    overflow: hidden;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
    
}

.contamination-icon2{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

.contamination-image2{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.contamination-txt2{
    margin: 17px 10px;
}

.contamination-icon2:hover{
    transition: .3s;
    background-color: #6761c2af;
    /* padding: 15px 0px; */
}

.register-icon2{
    margin-top: 60px;
    width: 270px;
    display: flex;
    flex-direction: row;
}

.register-image2{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.register-txt2{
    margin: 17px 10px;
}

.register-icon2:hover{
    transition: .3s;
    background-color: #6761c2af;
    /* padding: 15px 0px; */
}

.pronostico-icon2{
    margin-top: 60px;
    display: flex;
    flex-direction: row; 
}

.pronostico-image2{
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

.pronostico-txt2{
    margin: 17px 10px;
}

.pronostico-icon2:hover{
    transition: .3s;
    background-color: #6761c2af;
    /* padding: 15px 0px; */
}


.preassure-icon2{
    margin-top: 60px;
}

.preassure-icon2{
    display: flex;
    flex-direction: row; 
}

.preassure-image2{
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

.preassure-txt2{
    margin: 17px 10px;
}

.preassure-icon2:hover{
    transition: .3s;
    background-color: #6761c2af;
    /* padding: 15px 0px; */
}

