.container-hamburger {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.hamburger-menu.open {
    width: 270px;
    background-color: #2d2a54;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 45px;
}

.menu-toggle.open {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 110px;
    padding: 0;
    height: 9vh;
}

.images-header-ham {
    display: flex;
}

.close {
    height: 70px;
    width: 50px;
    margin-top: 10px;
}

.bar {
    background-color: white;
    height: 3px;
    width: 100%;
}

.bar.open {
    background-color: transparent;
}

.menu {
    background-color: #2d2a54;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 100vh;
    position: absolute;
}

.menu a {
    color: #fff;
    overflow: hidden;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
}

.image {
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.txt-hamburger-icon {
    font-size: 1em;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 10px;
}

.hover-hamburger {
    margin-top: 30px;
    display: flex;
}

.contamination-hamburger {
    width: 100%;
    position: absolute;
    top: 20px;
}

.history-hamburger {
    width: 100%;
    position: absolute;
    top: 120px;
}

.pronostico-hamburger {
    width: 100%;
    position: absolute;
    top: 220px;
}

.statistic-hamburger {
    width: 100%;
    position: absolute;
    top: 320px;
}

.hover-hamburger:hover {
    transition: .3s;
    background-color: #6761c2af;
    padding: 10px;
}

.hover-hamburger:not(:hover) {
    transition: .3s;
}

.logout {
    background-image: url(../assets/exit.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    top: 510px;
    left: 220px;
    position: absolute;
}