.hamburger-menu{
    width: 100px;
}

.container-hamburger{
    width: 100px;
}


.menu-container {
    display: flex;
    z-index: 1;
    margin: 0px;
}

.menu-container.open {
    background-color: #2d2a54af;
}

.menu-toggle {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    margin: 10px;
    width: 50px;
    height: 45px;
}

.menu-toggle.open{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 270px;
    background-color: #2d2a54af;
}

.mac-icon-home{
    height: 100px;
    width: 200px;
    /* background-color: #2d2a54af; */
    margin-top: 20px;
}

/* .menu-toggle.open .bar {
    background-color: transparent;
} */

.bar {
    background-color: white;
    height: 3px;
    width: 100%;
}

.bar.open {
    background-color: transparent;
}

.menu {
    background-color: #2d2a54af;
    display: flex;
    flex-direction: column;
    width: 270px;
    height: 580px;
}

.menu a {
    color: #fff;
    overflow: hidden;
    font-size: 18px;
    margin-bottom: 10px;
    text-decoration: none;
}

.contamination-icon{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
}

.contamination-image{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.contamination-txt{
    margin: 17px 10px;
}

.contamination-icon:hover{
    transition: .3s;
    background-color: #6761c2af;
    /* padding: 15px 0px; */
}

.register-icon{
    margin-top: 60px;
    width: 270px;
    display: flex;
    flex-direction: row;
}

.register-image{
    width: 50px;
    height: 50px;
    margin-left: 20px;
}

.register-txt{
    margin: 17px 10px;
}

.register-icon:hover{
    transition: .3s;
    background-color: #6761c2af;
    /* padding: 15px 0px; */
}

.pronostico-icon{
    margin-top: 60px;
    display: flex;
    flex-direction: row; 
}

.pronostico-image{
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

.pronostico-txt{
    margin: 17px 10px;
}

.pronostico-icon:hover{
    transition: .3s;
    background-color: #6761c2af;
    /* padding: 15px 0px; */
}


.preassure-icon{
    margin-top: 60px;
}

.preassure-icon{
    display: flex;
    flex-direction: row; 
}

.preassure-image{
    margin-left: 20px;
    width: 50px;
    height: 50px;
}

.preassure-txt{
    margin: 17px 10px;
}

.preassure-icon:hover{
    transition: .3s;
    background-color: #6761c2af;
    /* padding: 15px 0px; */
}

.logout{
    background-image: url(../assets/exit.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    margin-top: 180px;
    margin-left: 220px;
}