:root{
    --card-color: #aab3ff8c;
    --card-hover-color: #4852b1;
    --main-color: white;
    --container-color: #3456ffb7;
}

.history{
    background-image: url(../assets/history-background.jpg);
    background-size: cover;
    width: 100%;    
    height: 100vh;
}

.container-history{
    display: flex;
    width: 100%;
    height: 90vh;
}

.history-title{
    top: 10px;
    left: 570px;
    position: absolute;
    color: var(--main-color);
}

.container-content{
    width: 100%;
    height: 88.8vh;

    margin-top: 70px;
    /* border-radius: 30px; */
    overflow: hidden;
    position: absolute;
}

.content-history{
    display: grid;
    width: 100%;
    height: 530px;
    margin: 10px auto;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "n1 n1 n2 n3"
    "n1 n1 n4 n5"
    "n1 n1 n6 n7";
}

.card-history-main{
    background-color: var(--card-color);
    grid-area: n1;
    margin: 10px 0px 0px 30px;
    border-radius: 30px;
}

.header-card-main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-history{
    color: var(--main-color);
    margin-top: 20px;
}

.subtitle-history{
    color: var(--main-color);
    margin-top: 20px;
    margin-bottom: 20px;
}

.cloud-card-main{
    width: 200px;
    height: 180px;
    margin-left: 80px;
}

.content-card-main{
    display: flex;
    margin-top: 20px;
}

.temperature-card-main{
    color: var(--main-color);
    font-size: 6em;
    font-weight: 400;
    margin-left: 70px;
    margin-top: 60px;
}

.temperatura-footer{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperatura-main-footer{
    margin-bottom: 20px;
    color: var(--main-color);
}

.temperatura2-main-footer{
    color: var(--main-color);
}

.card-history1{
    background-color: var(--card-color);
    grid-area: n2;
    margin: 10px 0px 0px 20px;
    border-radius: 20px;
}

.cards-title-header{
    margin-top: 10px;
}

.temperature-cards-title{
    color: var(--main-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.temperature-content-card{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.left-part-cards{
    width: 50%;
}

.right-part-cards{
    width: 50%;
}

.cloud-cards-img{
    width: 100px;
    height: 90px;
    margin-top: -10px;
    margin-left: 30px;
}

.temperature-card-txt{
    color: var(--main-color);
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 15px;
}

.card-history2{
    background-color: var(--card-color);
    grid-area: n3;
    margin: 10px 10px 0px 20px;
    border-radius: 20px;
}

.card-history3{
    background-color:var(--card-color);
    grid-area: n4;
    margin: 10px 0px 0px 20px;
    border-radius: 20px;

}

.card-history4{
    background-color: var(--card-color);
    grid-area: n5;
    margin: 10px 10px 0px 20px;
    border-radius: 20px;

}

.card-history5{
    background-color: var(--card-color);
    grid-area: n6;
    margin: 10px 0px 0px 20px;
    border-radius: 20px;

}

.card-history6{
    background-color: var(--card-color);
    grid-area: n7;
    margin: 10px 10px 0px 20px;
    border-radius: 20px;
}

.card-history-main:hover{
    background-color: var(--card-hover-color);
    transition: .5s;
}

.card-history1:hover{
    background-color: var(--card-hover-color);
    transition: .5s;
}

.card-history2:hover{
    background-color: var(--card-hover-color);
    transition: .5s;
}

.card-history3:hover{
    background-color: var(--card-hover-color);
    transition: .5s;
}

.card-history4:hover{
    background-color: var(--card-hover-color);
    transition: .5s;
}

.card-history5:hover{
    background-color: var(--card-hover-color);
    transition: .5s;
}

.card-history6:hover{
    background-color: var(--card-hover-color);
    transition: .5s;
}