@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
:root{
    --main-color: white;
    --blue-color: #2d2a54af;
}

.container-home{
    background-image: url('../assets/image-login-2.png');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: absolute;
}

.header{
    width: 100%;
}

.city{
    color: var(--main-color);
    position: absolute;
    left: 520px;
    top: 40px;
}

.ubication-icon{
    position: absolute;
    top: 35px;
    left: 470px;
    height: 50px;
}

.temperature-home{
    position: absolute;
}

.header{
    width: 100%;
}

.cloud-home{
    position: fixed;
    height: 130px;
    left: 590px;
    top: 100px;
}

.temperature-data-home{
    color: var(--main-color);
    position: fixed;
    height: 70px;
    left: 620px;
    top: 240px;
    font-size: 4em;
    font-weight: 100;
}

.container-cards{
    width: 800px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 455px;
    left: 270px;
}

.cards{
    display: flex;
    gap: 100px;
}

.card-img{
    height: 50px;
    width: 50px;
}

.card-txt{
    font-weight: 200;
    font-size: 30px;
}

.ch:hover{
    background-color: #433f81af;
    transition: .3s;
}

.card{
    padding: 20px;
    height: 25vh;
    background-color: var(--blue-color);
    color: var(--main-color);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-color);
}

.login-home-icon{
    display: flex;
    position: absolute;
    left: 1210px;
    margin: 20px;
    top: 10px;
}

.login-icon{
    background-image: url(../assets/login.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
}
