
.home-icon2{
    display: flex;
    position: fixed;
    left: 1235px;
    margin: 15px;  
}

.home-icon-img2{
    background-image: url(../assets/home-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
}