@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
}

.left-part {
    background-color: white;
    height: 100%;
    width: 50%;    
    padding: 2em 5em;
}

.mac-image {
    width: 200px;
    height: 50px;
    margin-bottom: 4rem;
}

.h1-text-login {
    margin-bottom: 20px;
    color: #2D2A54;
}

.h2-text-login {
    width: 350px;
    margin-bottom: 40px;
    font-size: 1em;
    color: #2d2a54a1;
}

.input-login {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 30px;
}

.input-email {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #D7D8F0;
    border: solid #D7D8F0;
}

.input-pwd {
    padding: 10px;
    border-radius: 10px;
    background-color: #D7D8F0;
    border: solid #D7D8F0;
}

.btn-login {
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px 0px;
    border-radius: 10px;
    border: solid #2D2A54;
    background-color: #2D2A54;
    color: #D7D8F0;
}

.btn-login:hover {
    border: solid #141230;
    background-color: #141230;
    color: #D7D8F0;
    transition: .3s;
    cursor: pointer;
}

.text-register-login {
    margin-top: 1em;
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: center;
}

.txt-register,
.log-register {
    color: #2D2A54;
}

.txt-register {
    margin-bottom: .5em;
    font-weight: 500;
    font-size: 1em;
}

.log-register {
    margin: 0;
    text-decoration: none;
    font-weight: 1000;
    margin-top: 5px;
}

.log-register:hover{
    color: #423e79;
}

.right-part{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
    background-color: #2D2A54;
}

.ilustration{
    width: 90%;
    height: 80%;
}