@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container-login {
    display: flex;
}

.left-part {
    background-color: white;
    height: 100%;
    width: 50%;    
    padding: 2em 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mac-image {
    width: 250px;
    height: 60px;
    margin-bottom: 4.5rem;
}

.container-text-login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.h1-text-login {
    color: #2D2A54;
    margin-bottom: 10px;
}

.h2-text-login {
    font-size: .9em;
    color: #2d2a54a1;
    text-align: center;
}

.input-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-email{
    margin-bottom: 20px;
}

.inp{
    width: 350px;
    padding: 10px;
    border-radius: 30px;
    background-color: #D7D8F0;
    border: solid #D7D8F0;
}

.line{
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line2{
    height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn-login {
    display: flex;
    width: 350px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    padding: 10px 0px;
    border-radius: 30px;
    border: solid #2D2A54;
    background-color: #2D2A54;
    color: #D7D8F0;
}

.btn-login:hover {
    border: solid #141230;
    background-color: #141230;
    color: #D7D8F0;
    transition: .3s;
    cursor: pointer;
}

.text-register-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txt-register,
.log-register {
    color: #2D2A54;
}

.txt-register {
    margin-bottom: .5em;
    font-weight: 500;
    font-size: 1em;
}

.log-register {
    margin: 0;
    text-decoration: none;
    font-weight: 1000;
    margin-top: 5px;
}

.log-register:hover{
    color: #423e79;
}

.image-login-main{
    width: 50%;
    height: 100vh;
}