@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container-register {
    display: flex;
}

.left-part-register {
    /* background-color: aqua; */
    height: 100;
    width: 50%;    
    padding: 2em 5em;
    background-color: #2D2A54;
}

.mac-image-register {
    width: 200px;
    height: 50px;
    margin-bottom: 4rem;
}

.h1-text-register {
    margin-bottom: 20px;
    color: #D7D8F0;
}

.h2-text-register {
    width: 350px;
    margin-bottom: 40px;
    font-size: 1em;
    color: #D7D8F0;
}

.input-register {
    width: 450px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 30px;
}

.input-email-register {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: white;
    border: solid white;
}

.input-pwd-register {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: solid white;
}

.btn-register {
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
    padding: 10px 0px;
    border-radius: 10px;
    border: solid #D7D8F0;
    background-color: #D7D8F0;
    color: #2D2A54;
}

.btn-register:hover {
    border: solid #bcbcd4;
    background-color: #bcbcd4;
    color: #2D2A54;
    transition: .3s;
    cursor: pointer;
}

.text-login-register {
    margin-top: 1em;
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: center;
}

.txt-login,
.register-login {
    color: #D7D8F0;
}

.txt-login {
    margin-bottom: .5em;
    font-weight: 500;
    font-size: 1em;
}

.register-login {
    margin: 0;
    text-decoration: none;
    font-weight: 1000;
    margin-top: 5px;
}

.register-login:hover{
    color: #bcbcd4;
}

.right-part-register{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100vh;
}

.ilustration-register{
    width: 90%;
    height: 80%;
}
