.description {
    position: absolute;
    width: 750px;
    height: 100px;
    left: 287px;
    top: 340px;
    background: rgba(45, 42, 84, 0.77);
    border-radius: 60px;
    display: flex;
    justify-content: space-around;
}

.calidad{
    width: 100px;
}

.humedad{
    width: 100px;
}

.altura {
    width: 100px;
}

.data-state-bar{
    color: rgb(112, 119, 255);
    text-align: center;
    font-weight: 500;
    margin-bottom: 5px;
}

.state-bar-txt{
    font-weight: 500;
    font-size: .8em;
    display: flex;
    justify-content: center;
    color: var(--main-color);
}

.viento-icon{
    height: 30px;
    width: 30px;
    display: flex;
    margin: 5px 40px;
}

.humedad-icon{
    margin-top: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    margin: 5px 40px;
}

.altura-icon{
    height: 30px;
    width: 30px;
    display: flex;
    margin: 5px 40px;
}
