.container-statistics {
    width: 100%;
    height: 540vh;
    background-color: #2e2e2e;
}

.header-statistics {
    width: 100%;
    height: 10vh;
    display: flex;
}

.title-statistics{
    font-size: 30px;
    font-weight: 600;
    margin: 20px auto;
    color: white;
}

.print-part {
    display: flex;
    justify-content: center;
}

.print {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: rgb(237, 237, 237);
    border-radius: 20px;
    color: black;
    border: solid rgb(237, 237, 237);
    cursor: pointer;
    font-weight: 500;
}

.print:hover {
    background-color: rgb(164, 164, 164);
    border: solid rgb(164, 164, 164);
    color: white;
    transition: .3s;
}

.content-statistics {
    width: 90%;
    height: 360vh;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #ededed;
    border: 1px solid #ededed;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "n1 n2"
        "n3 n4"
        "n5 n4";
}

table td ul {
    margin: 0;
    padding: 0;
}

table td ul li {
    margin-bottom: 4px;
}

.table-fre td .label {
    font-weight: bold;
}

.txt-statistics {
    text-align: center;
    margin-top: 20px;
}

.card-statistic {
    background-color: #dddcdc;
    border-radius: 10px;
    margin: 20px;
}

.card-statistic:hover {
    background-color: #c6c5c5;
}

.grafica-statistics {
    margin: 20px auto;
    width: 450px;
    height: 230px;
}

.frecuencia-data {
    grid-area: n1;
}

.dispersion-data {
    grid-area: n2;
    height: 150vh;
}

.tendencia-data {
    width: 93%;
    grid-area: n3;
    height: 120vh;
    margin: 0 auto;
    margin-bottom: 20px;
}

.distribucion-frecuencia-data {
    height: 195vh;
    grid-area: n4;
    width: 93%;
    margin: 0 auto;
}

.correlacion {
    height: 20vh;
    text-align: center;
    margin: 0 auto;
    width: 93%;
    grid-area: n5;
}

.card-statistic2:hover {
    background-color: aqua;
}

.graficas-title-statistics{
    text-align: center;
    margin-top: 50px;
    color: white;
}

.graficas-container-statistics{
    width: 90%;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #ededed;
}

.graficas-statistic{
    background-color: var(--card-color-statistic);
    width: 90%;
    margin: 0 auto;
    height: 60vh;
    border-radius: 20px;
}

.grafica1-txt{
    padding: 20px;
    color: black;
}

.graficas-1{
    margin: 0 auto;
    width: 550px;
    height: 300px;
}

.graficas-statistic:hover{
    background-color: var(--card-hover-color-statistic);
}

.card-statistic2:hover{
    background-color: var(--card-hover-color-statistic);
}

@media print {
    .print {
        display: none;
    }

    .footer-statistic {
        display: none;
    }

    .title-statistics {
        left: 310px;
    }

    .grafica-statistics {
        margin: 20px auto;
        width: 450px;
        height: 230px;
    }
}