:root{
    --card-color-statistic: #d7d4ff;
    --card-hover-color-statistic: #c6c2f8;
}

.container-statistics{
    width: 100%;
    height: 100vh;
}

.header-statistics{
    width: 100%;
    height: 10vh;
}

.title-statistics{
    position: absolute;
    top: 20px;
    left: 500px;
}

.content-statistics{
    width: 100%;
    height: 120vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "n1 n2"
    "n3 n4";
}

.txt-statistics{
    text-align: center;
    margin-top: 15px;
}

.card-statistic{
    background-color: var(--card-color-statistic);
    border-radius: 10px;
    margin: 20px;
}

.card-statistic:hover{
    background-color: var(--card-hover-color-statistic);
}

.media{
    grid-area: n1;
}

.moda{
    grid-area: n2;
}

.mediana{
    grid-area: n3;
}

.varianza{
    grid-area: n4;
}

.footer-statistics{
    display: flex;
    justify-content: center;
}

.print{
    margin-top: 30px;
    margin-bottom: 40px;
    padding: 10px 20px;
    background-color: #2d2a54;
    border-radius: 20px;
    color: white;
    border: solid #2d2a54;
    cursor: pointer;
    font-weight: 500;
}

.print:hover{
    background-color: #433e8a;
    border: solid #433e8a;
}